html {
  font-size: $base-font-size;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration:none;
}



/**
 *Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/**
 * `main` element
 */
main {
}



/**
 * Images
 */
img {
}



/**
 * Figures
 */
figure > img {
}
  
figcaption {
}


/**
 * Lists
 */
ul, ol {
}

li {
  > ul,
  > ol {
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
}



/**
 * Links
 */
a {
  color: $link-base-color;
  text-decoration: none;
}



/**
 * Blockquotes
 */
blockquote {
}



/**
 * Code formatting
 */
pre,
code {
}

code {
}

pre {
}



.highlight {
}



/**
 * Wrapper
 */
.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    // @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



