@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

// Define defaults for each variable.

$base-font-family: 'Forum', cursive;
$code-font-family: monospace;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$table-text-align: left;

// Width of the content area
$content-width: 800px;

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@import
    "skin",
    "base",
    "layout"
;